
# Swaps and tempfiles
*.pyc
*.pyo
*.swp
*.swo
*.swn
__pycache__
.LCK*

# Python packaging junk
*.egg*/

# Any incidentals
*.zip
*.tar.gz
*.tgz

# Build leftovers
build/
dist/
spec/
# Just in case the build directory is leaking
*.spec
*.o
*.so

# Don't let Mac OS junk leak onto my pristine Linux setups
.DS_Store
