
# Automatic MangoEd files
*.mangoed-backup

# Swaps and tempfiles
*.pyc
*.pyo
*.swp
*.swo
*.swn
.LCK*
# For those Python 3 fatfingers (this project should be all 2.7)
__pycache__

# Python packaging junk
*.egg*/

# Any incidentals
*.zip
*.tar.gz
*.tgz

# Build leftovers
build/
dist/
spec/
doc/_build/*

# Just in case the build directory is leaking
*.spec
*.o

# Cython generates C and shared object files *everywhere*
*.c
*.so

# Don't let Mac OS junk leak onto my pristine Linux setups
.DS_Store
