
# Swaps and tempfiles
*.pyc
*.pyo
*.swp
*.swo
*.swn
__pycache__

# Python packaging junk
*.egg*/

# Any incidentals
*.zip
*.tar.gz
*.tgz

# Build leftovers
build/
dist/
spec/
# Just in case the build directory is leaking
*.spec
*.o
*.so
